/*global variables */
:root {
	--light_grey: #f0f0f0;
	--darker_grey: #e3e3e3;
}

/* allows elements to cover entire document */
body {
	margin: 0px;
	position: absolute;
	min-height: 100vh;
}

a {
	font-size: 12px;
	font-family: verdana, sans-serif;
	color: black;
	text-decoration: none;
}

nav {
	margin-bottom: 10px;
	position: absolute;
}
/* container for dropdown menu */
.dropdown {
	position: fixed;
	display: block;
	margin-bottom: 40px;
	width: 100%;
}

.dropbtn {
	display: block;
	background-color: var(--light_grey);
	color: black;
	padding: 10px 100% 10px 5px;
	font-size: 16px;
	border-bottom: 1px solid black;
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: var(--light_grey);
	min-width: 100vw;
	z-index: 1;
}

.dropdown_content a {
	display: block;
	color: black;
	padding: 5px;
	text-decoration: none;
	background-color: var(--light_grey);
}

/* add border to bottom of nav */
.dropdown_content #last_link {
	border-bottom: 1px solid black;
}

/* change current page to bold in nav */
.current {
	font-weight: bold;
}

/* show dropdown content on hover */
.dropdown:hover .dropdown_content {
	display: block;
	transition: 0.3s;
	background-color: var(--darker_grey);
}

/*change color of dropdown button on hover */
.dropbtn:hover {
	background-color: var(--darker_grey);
	transition: 0.3s;
}

/* change color of dropdown content on hover */
.dropdown_content a:hover {
	background-color: var(--darker_grey);
	transition: 0.3s;
}

section {
	margin-top: 40px;
}

.headers {
	display: block;
	padding: 10px 0px 0px 10px;
	margin: 0px;
	font-size: 16px;
	font-family: verdana, sans-serif;
}
/* end of dropdown */

/* smaller font size for subheaders */
#subheaders {
	font-size: 14px;
}

article {
	max-width: 700px;
	margin: 0px 20px 0px 20px;
}

.paragraph {
	margin-bottom: 20px;
}

footer {
	margin-top: auto;
	width: 100vw;
	display: flex;
	justify-content: center;
	background-color: var(--light_grey);
	margin: 1px solid black;
}

.footer_content {
	display: flex;
}